	<div id="searchModal" class="modal">
	 <div class="vertical-alignment-helper">
    	<div class="modal-dialog vertical-align-center">
    		<div class="modal-content"></div>
    	</div>
    	</div>
   	</div> 
   	<div class="modal" id="waintingModal" data-backdrop="static">
		<div class="vertical-alignment-helper">
			<div class="modal-dialog vertical-align-center">
	      		<div class="modal-content">
	        		<div class="container"></div>
	        		<div class="modal-body">
	          			<div style="font-family:Verdana, Geneva, sans-serif; font-size: 80%; height:20px; position: relative;">				
		      				<p id="loadingImg" style="margin: 0;position: absolute; top:-30px; left: 50%; margin-right: -50%; transform: translate(-50%, -50%) ">
		      					<img src="imagens/busy.gif" id="img-load">
		      				</p>      
							<p id="loadingText" style="margin: 0;position: absolute; top:5px; left: 50%; margin-right: -50%; transform: translate(-50%, -50%) ">Loading</p>
						</div>
	        		</div>        
	      		</div>
	    	</div>
	    </div>
	</div>
	
